<%-include("header")-%>

    <div class="_about">
        <h2>About Our Team</h2>
        <div class="cards">
            <div class="card">

                <div class="info">
                    <div class="__name">Harsh Singhal</div>
                    <div class="college">Indian Institute of Technology Ropar</div>
                    <div class="college">B.Tech 2020-2024</div>
                    <div class="about_xyz">
                        <strong>About:</strong>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde, cupiditate ipsam accusantium
                        consequatur
                    </div>
                </div>
                <div class="img">
                    <img src="/images/harsh.jpeg"
                        alt="Avatar" class="avatar">
                    <div>
                        <a href="https://github.com/roohharsh"><i class="fa-brands fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/harsh-singhal-463a941bb/"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="tel:+917728837630"><i class="fa fa-phone"></i></a>
                    </div>
                </div>
            </div>

            <div class="card">

                <div class="info">
                    <div class="__name">Saurabh Kushwaha</div>
                    <div class="college">Indian Institute of Technology Ropar</div>
                    <div class="college">B.Tech 2020-2024</div>
                    <div class="about_xyz">
                        <strong>About:</strong>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde, cupiditate ipsam accusantium
                        consequatur
                    </div>
                </div>
                <div class="img">
                    <img src="/images/saurabh.jpg"
                        alt="Avatar" class="avatar">
                    <div>
                        <a href="https://github.com/saurabh-123456"><i class="fa-brands fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/saurabh-kushwaha-930002213/"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="tel:+919140798230"><i class="fa fa-phone"></i></a>
                    </div>
                </div>
            </div>

            <div class="card">

                <div class="info">
                    <div class="__name">Gyaneshwar</div>
                    <div class="college">Indian Institute of Technology Ropar</div>
                    <div class="college">B.Tech 2020-2024</div>
                    <div class="about_xyz">
                        <strong>About:</strong>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde, cupiditate ipsam accusantium
                        consequatur
                    </div>
                </div>
                <div class="img">
                    <img src="/images/gyan.jpeg"
                        alt="Avatar" class="avatar">
                    <div>
                        <a href="https://github.com/gyan3000"><i class="fa-brands fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/gyaneshwar-50b7651b3/"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="tel:+917830523000"><i class="fa fa-phone"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <%-include("footer")-%>
