<%-include("header")-%>

    <div class="_about">
        <h2 class="HEADER">About Our Team</h2>
        <div class="cards">
            <div class="card">

                <div class="info">
                    <h1 class="__name" id="text1">Harsh Singhal</h1>
                    <div class="college">Indian Institute of Technology Ropar</div>
                    <div class="college">B.Tech 2020-2024</div>
                    <div class="contact-icon">
                        <a href="https://www.linkedin.com/in/harsh-singhal-463a941bb/"><i class="fab fa-linkedin-in"></i></a>
                        <a href="mailto: harshparkar27@gmail.com"><i class="fas fa-envelope"></i></a>
                        <a href="tel:+917728837630"><i class="fa fa-phone"></i></a>
                        <a href="https://github.com/roohharsh"><i class="fab fa-github" ></i></i></a>
                    </div>
                </div>
                <div class="img">
                    <img src="/images/harsh.jpeg"
                        alt="Avatar" class="avatar">
                </div>
            </div>

            <div class="card">

                <div class="info">
                    <h1 class="__name" id="text2">Saurabh Kushwaha</h1>
                    <div class="college">Indian Institute of Technology Ropar</div>
                    <div class="college">B.Tech 2020-2024</div>
                    <div class="contact-icon">
                        <a href="https://www.linkedin.com/in/saurabh-kushwaha-930002213/"><i class="fab fa-linkedin-in"></i></a>  
                        <a href="mailto: saurabhkushwaha697@gmail.com "><i class="fas fa-envelope"></i></a>
                        <a href="tel:+919140798230"><i class="fa fa-phone" ></i></a>
                        <a href="https://github.com/saurabh-123456"><i class="fab fa-github" ></i></i></a>
                    </div>
                </div>
                <div class="img">
                    <img src="/images/saurabh.jpg"
                        alt="Avatar" class="avatar">
                   
                </div>
            </div>

            <div class="card">

                <div class="info">
                    <h1 class="__name" id="text3">Gyaneshwar</h1>
                    <div class="college">Indian Institute of Technology Ropar</div>
                    <div class="college">B.Tech 2020-2024</div>
                    <div class="contact-icon">
                        <a href="https://www.linkedin.com/in/gyaneshwar-50b7651b3/"><i class="fab fa-linkedin-in"></i></a>
                        <a href="mailto: gyaneshwar494@gmail.com"><i class="fas fa-envelope"></i></a>
                        <a href="tel:+917830523000"><i class="fa fa-phone" ></i></i></a>
                        <a href="https://github.com/gyan3000"><i class="fab fa-github" ></i></i></a>                     
                    </div>
                </div>
                <div class="img">
                    <img src="/images/gyan.jpeg"
                        alt="Avatar" class="avatar">
                  
                </div>
            </div>
        </div>

    </div>



    <%-include("footer")-%>
