<%-include("header")-%>
    <div class="right">
        <h1 class="homeHeader"><marquee scrollamount="20" behavior="alternate" direction="">DCypher Club Welcomes You</marquee></h1>
    <div class="_body">
        <div class="__working">We are Working on it.</div>
        <div class="wave">
            <span></span><span></span><span></span><span></span>
            <span class="s5"></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span>
        </div>
    </div>
    </div>
<%-include("footer")-%>