<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShowYourSkills</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/eb82b83273.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="left">
            <div class="logo"> <img src="\images\logo.png" alt="" srcset=""></div>
            <div class="navbar">
                <ul>
                    <li><i class="fa-solid fa-house"></i><a href="/">Home</a> </li>
                    <li><i class="fa-solid fa-headset"></i><a href="/alfaaz">Alfaaz</a></li>
                    <li><i class="fa-solid fa-camera"></i><a href="/arturo">Arturo</a></li>
                    <li><i class="fa-solid fa-palette"></i><a href="/vibgyor">Vibgyor</a></li>
                    <li><i class="fa-solid fa-dumbbell"></i><a href="/Gymnasium">Gymnasium</a></li>
                    <li><i class="fa-solid fa-biohazard"></i><a href="/dcypher">Dcypher</a></li>
                    <li><i class="fa-solid fa-music"></i><a href="/alankar">Alankar</a></li>
                    <li><i class="fa-solid fa-video"></i><a href="/alpha">Alpha</a></li>
                </ul>
            </div>
            <div class="others">
                <a href="/about" class="about">About Us</a>
                <a href="/feedback" class="feedback">Feedback</a>
            </div>
        </div>
