<%-include("header")-%>
        <div class="right">
            <h1 class="homeHeader">Welcome to IIT ROPAR</h1>
            <div class="content">
                <h2>Know me</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, quas dicta. Vero, quos debitis, quod incidunt corporis iste aliquam tempora neque ipsam nostrum veniam quidem delectus unde! Adipisci alias dolore laudantium magnam ipsa nostrum, ab totam tempore eaque eum. Voluptas ut veniam facilis laudantium cupiditate placeat molestiae enim tempore labore.</p>
            </div>
            <div class="slides">
                <img src="/college/a.jpg">
                <img src="/college/b.jpg">
                <img src="/college/c.jpg">
                <img src="/college/d.jpg">
                <img src="/college/e.jpg">
            </div>
        </div>
<%-include("footer")-%>