<%-include("header")-%>
        <div class="right" id="right">
            <div class="homeHeader" >
                <img src="/logo/college.png" alt="" style="filter:invert(1)">
                <div class="hamburger" id="hamburger">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <span class="iit_rpr">Welcome to IIT ROPAR</span>
                <div class="login" >
                    <a href="/login">Login</a> 
                </div>
            </div>
            <div class="content">
                <h2>Introduction</h2>
            <p>
                Indian Institute of Technology, Ropar is one of the eight new IITs set up by the Ministry of Human Resource Development (MHRD), Governemtn of India.
                This website let students to know about their Institute and the college culture it has made in the past 14 Years. 
                As our vision suggests that we are going to be the trendsetter among the universities, we are introducing this website which contructs the initial social life of the College culture.  

                Do you have any talent?
                Let us know and become famous amoung the students by uploading your talent on our website.

                The main purpose of our website to let you make your network growth easier and grow the college culture.

                We are happy to see you becoming college star.

            </p>
            </div>
            <div class="slides">
                <img src="/college/f.jpg">
                <img src="/college/a.jpg">
                <img src="/college/b.jpg">
                <img src="/college/c.jpg">
                <img src="/college/d.jpg">
                <img src="/college/e.jpg">
            </div>
        </div>
<%-include("footer")-%>