<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShowYourSkills</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/animations.css">
    <link rel="shortcut icon" type="image/PNG" href="/images/favicon.png">
    <script src="https://kit.fontawesome.com/eb82b83273.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="_body">
        <div class="__working">We are Working on it.</div>
        <div class="wave">
            <span></span><span></span><span></span><span></span>
            <span class="s5"></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span>
        </div>
    </div>

    <div class="back">
        <a href="/">Return</a>
    </div>

</body>
</html>