*{
    margin: 0px;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: row;
    /* border: 2px solid black; */
}

.left{
    width: 23vw;
    /* border: 2px solid red; */
    height: 93vh;
    text-align: center;
    font-size: 2.3rem;
    background-color: #000000ad;
    box-shadow: 0 2px 4px rgb(57 52 59 / 71%), 0 8px 16px rgb(57 52 59 / 71%);
    margin-bottom: 10px;
}
.left .logo img{
    border: none;
    width: 130px;
    height: 100px;
    margin-top: 15px;
}
.navbar{
    text-align: left;
    margin-left: 5rem;
    margin-right: 1rem;
}
.navbar ul li{
    margin-bottom: 1rem;
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
}
.navbar ul li i{
    filter: invert(1);
    margin-right: 1rem;
}

.others{
    display: flex;
    margin: 35px 35px;
    justify-content: space-between;
}
.others a{
    border: 2px solid black;
    border-radius: 0.5rem;
    text-decoration: none;
    color: black;
    padding: 3px 6px;
}
.others a:hover{
    transform:scale(1.2,1.2);
    -webkit-transform:scale(1.2,1.2);
    -moz-transform:scale(1.2,1.2);
    color: white;
}
.about{
    font-size: 1.5rem;
    font-weight: bold;
}
.feedback{
    font-size: 1.5rem;
    font-weight: bold;
}
.right{
    width: 77vw;
    /* border: 2px solid yellow;    */
}
.right .homeHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.5rem;
    font-size: 3rem;
    background-color: wheat;
    color: rgb(4, 116, 116);
    border-bottom-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
}
.content{
    display: flex;
    flex-direction: column;
    margin: 2.5rem 3rem;
    max-height: 31rem;
    overflow-y: scroll;
}
.content h2{
    font-size: 3rem;
}
.content p{
    font-size: 1.2rem;
    margin-top: 0.5rem;
}


/*  Alfaaz Club   */
.post{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: rgb(147, 170, 176);
    margin-top: 20px;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 10px;
}
.post p{
    display: flex;
    text-align: left;
    width: 85%;
    /* border: 2px solid black; */
    margin-left: 1.1rem;
}
.post .name{
    width: 90%;
    display: flex;
    justify-content: right;
    padding-right: 0;
}
.heading{
    display: flex;
    width: 90%;
}
.heading span{
    margin-top: 29px;
    margin-left: 10px;
}
.btn{
    border-radius: 24px;
    background-color: rgb(184, 192, 123);
    font-size: 1.1rem;
    font-weight: bold;
    margin-left: 3rem;
    padding: 11px;
    text-decoration: none;
    color: black;
}


/* alfaazUpload Section  */
.upload{
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
}
.container1{
    margin: 4rem auto;
}
.HEADER{
    font-size: 3.5rem;
    background-image: -webkit-linear-gradient(60deg,#ff00009c 50%,wheat 50%);
}
.container1 form{
    display: flex;
    flex-direction: column;
}
.container1 .input{
    margin-bottom: 2rem;
    margin-top: 0.3rem;
    width: 20rem;
    height: 1.8rem;
    border-radius: 0.5rem;
    padding: 2px 12px;
    border: 2px solid black;
}
.container1 #poem{
    height: 7rem;
    width: 30rem;
}
.upload button{
    width: 45%;
    height: 46px;
    margin-bottom: -23px;
    cursor: pointer;
    border-radius: 24px;
    background-color: rgb(184, 192, 123);
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

/* arturo, vibgyor & gymnasium section  */
.post{
    width: 50%;
    margin: 15px auto;
    border-radius: 1rem;
}
.post .heading{
    display: flex;
}
.post ._name{
    font-size: 2rem;
    margin: 0 15px;
    font-weight: bold;
}
.post ._time{
    margin-top: 14px;
}
.post .image{
    width: 84%;
    border-radius: 2rem;
    margin-top: 7px;
    margin-bottom: 10px;
}
.post .image img{
    width: 100%;
    height: 100%;
    border-radius: 0.1rem;
}

/* arturo upload section */

.arturoUpload{
    display: flex;
    flex-direction: column;
    width: 50rem;
    margin: 0.5rem 4rem;
    /* border: 2px solid red; */
}
.arturoUpload h1{
    padding: 0.5rem 0.5rem;
    text-align: center;
    font-size: 3.5rem;
    background-image: -webkit-linear-gradient(60deg,#ff00009c 50%,wheat 50%);
    border-radius: 0.5rem;
}
.arturoUpload form {
    display: flex;
    flex-direction: column;
}
.arturoUpload form h3{
    margin: 0.5rem 0.6rem;
    margin-top: 2rem;
    margin-bottom: 0;
}
#name{
    margin: 0rem 0.5rem;
    margin-bottom: 2rem;
    max-width: 25rem;
    font-size: 1.2rem;
    padding: 0.3rem 0.3rem;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px;
}
.fileUpload{
    margin: 0.5rem 0.6rem;
    font-size: 1.1rem;
    font-weight: bold;
}
.arturoUpload form input{
    margin: 0rem 0.5rem;
}
.arturoUpload button{
    font-size: 1.5rem;
    margin: 2rem 0.5rem;
    padding: 0.2rem 0.2rem;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 0.8rem;
    cursor: pointer;
    background-color: antiquewhite;
    max-width: 13rem;
    box-shadow: 0 6px 6px #999
}
.arturoUpload button:hover{
    background-color: #ff00009c;
    color: white;
}

/* dcypher alankar & alpha clubs section  */
.video{
    width: 77vw;
    /* border: 2px solid yellow;    */
}
.video .__text{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.5rem;
    font-size: 3rem;
    background-color: wheat;
    color: rgb(4, 116, 116);
    border-bottom-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
}


/* feedback section  */
.Feedback{
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
}
.feed{
    font-size: 3rem;
    background-image: -webkit-linear-gradient(60deg,#ff00009c 50%,wheat 50%);
    margin: 3rem 0;
}
.Feedback form{
    display: flex;
    flex-direction: column;
}
.Feedback .input{
    margin-bottom: 2rem;
    margin-top: 0.3rem;
    width: 20rem;
    height: 1.8rem;
    border-radius: 0.5rem;
    padding: 2px 12px;
    border: 2px solid black;
}
.Feedback #poem{
    height: 7rem;
    width: 30rem;
}
.Feedback button{
    width: 45%;
    height: 46px;
    margin-bottom: -23px;
    cursor: pointer;
    border-radius: 24px;
    background-color: rgb(184, 192, 123);
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}


/* about section  */


/* footer section  */
footer{
    background: #111;
    padding: 12px 23px;
    color: #fff;
    text-align: center;
}
